/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 9, 2020, 3:20:23 PM
    Author     : mercm
*/

.root{

}

.text-area:centered .text {
    -fx-text-alignment: center;
}

.label .text {
    -fx-font: 40px Tahoma white;
    -fx-stroke: black;
}